* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Start of Nav Bar */
body {
    background-color: #f4f3ef;
}

nav {
    background-color: #fff;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: -4px 4px 16px 0px rgba(0,0,0,0.22);
    -webkit-box-shadow: -4px 4px 16px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: -4px 4px 16px 0px rgba(0,0,0,0.22);
}

.logo_img_and_name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

.logo_img_and_name img {
    height: 60px;
    width: 60px;
}

.logo_img_and_name .nav_img {
    margin-right: 20px;
}

.nav_img a {
    text-decoration: none;
    cursor: pointer;
}

.logo_img_and_name .nav_name {

}

.nav_name a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav_menu_items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 90px;
}

.nav_menu_item {
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out
}

.nav_menu_item:hover {
    background-color: #e5e3d9;
}

.nav_menu_item a {
    text-decoration: none;
    color: #000;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 100px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #000;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
}

@media (max-width: 850px) {
    .hamburger {
        display: block;
        margin: 50px;
    }

    .logo_img_and_name {
        margin-left: 50px;
    }

    .hamburger.active .bar:nth-child(2) {
         opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
   }

   .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_menu_items {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s ease-in-out;
    }

    .nav_menu_items.active {
        left: 0px;
        height: 100%;
    }

    .nav_menu_item {
        transition: .2s ease-in-out;
        margin-top: 16px;
        margin-left: 0px;
        width: 100%;
    }

    .nav_menu_item:hover {
        color: #000;
        background-color: #e5e3d9;
    }

    .nav_name {
        display: none;
    }


}

/* End of Nav Bar */

/* Start of Menu */

h1, h2 { 
    text-align: center; 
    color: #4a3f35; 
}

h1 {
    margin-top: 120px;
    font-size: 1.5rem;
}

.menu-section { 
    margin: 40px auto; 
    max-width: 86%; 
}
.menu-item { 
    display: flex; 
    justify-content: space-between; 
    padding: 10px 0; 
    border-bottom: 1px solid #ddd; 
}
.item-name { 
    font-weight: bold; 
    color: #333; 
}
.item-description { 
    font-size: 0.9em; 
    color: #666; 
}
.item-price { 
    color: #4a3f35; 
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #e5e3d9;
    width: 100%;
    height: 100px;
}